<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vermaji.noteshare">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/noteshare_logos"
        android:label="@string/app_name"
        android:roundIcon="@drawable/noteshare_logos"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.NoteBook">
        <activity
            android:name="com.vermaji.noteshare.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.vermaji.noteshare.loginService.LoginActivity" />
        <activity
            android:name="com.vermaji.noteshare.mainUI.MainActivity">
        </activity>
    </application>

</manifest>