<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vermaji.noteshare">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/noteshare_logos"
        android:label="@string/app_name"
        android:roundIcon="@drawable/noteshare_logos"
        android:supportsRtl="true"
        android:theme="@style/Theme.NoteBook"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".mainUI.home.fileViewer.FileViewerActivity"
            android:exported="false"
            />
        <activity
            android:name=".mainUI.home.searchNote.NoteSearchActivity"
            android:exported="false" />
        <activity
            android:name=".mainUI.home.notesDetails.NoteDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".loginService.LoginActivity" />
        <activity android:name=".mainUI.home.MainActivity" />
    </application>

</manifest>